{% extends 'base.html.twig' %}

{% block title %}Customers page{% endblock %}

{% block body %}
    {# Did not succeed in wiring react into Symfony properly... #}
    <div id="root"></div>
{% endblock %}