{% extends 'base.html.twig' %}

{% block title %}Customers {{ customerId }} order{% endblock %}

{% block body %}
    {# Did not succeed in wiring react into Symfony properly... #}
    <div id="root"></div>
{% endblock %}